body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.block-a, .block-b {
    height: 125px;
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 100%;
    border: 2px solid blue;
    box-sizing: border-box;
}

.block-1 {
    width: 300px;
    height: 500px;
    background-color: rgb(94, 70, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.block-2 {
    flex-grow: 1;
    height: 500px;
    background-color: rgb(77, 125, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.block-3 {
    width: 200px;
    height: 500px;
    background-color: rgb(183, 48, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
